
.inline-block {
    background-color: #ff3838;
    text-align: center;
    display: inline-block;
    font-size: 30px;
}

.inline {
    background-color: #ff9f1a;
    display: inline;
    font-size: 30px;
}
.block {
    background-color: #33ff00;
    text-align: center;
    font-size: 30px;
}
.red {
    background-color: #e84118;
    margin: 100px 50px 200px;
}
.box {
    width: 100px;
    height: 100px;
}

a{
	
	font-size: 25px;
}
.gray{
    background-color: #273c75;
    margin-top: 50px;
    padding: 100px 50px 50px 100px;
}


h1 {
    background-color: #74b9ff;
    text-align: center;
    font-size: 50px;
}













